*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

#IDE
**.project
**.classpath
**.settings

#Maven
**target/
**/test-output

**/database/
**/fwdir/
**/cache/

#Logs
*.log
*.log.*


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

**/.fuse_hidden*

.metadata/
.recommenders/
**/bin/
**/.alvor

build/

.idea



